{% extends 'app_main/index.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container" style="margin: top 2em;">
    <div class="container">
        <a href="../newuser" role="button"><h4>New User</h4>></a>
    </div>
    <div class="container">
        <a href="#collapsesearch", data-bs-toggle="collapse", aria-controls="collapsesearch" role="button" aria-expanded="false"><h4>Search</h4>></a>
            <div class="container collapse" id="collapsesearch">
                <form class="list row g-2 col-12" style="max-width: 300px; margin: 8px 0;" method="POST" action="search/">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="search" placeholder="Type here...">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Search!</button>
                </form>
            </div>
        <div class="container">
            {% if stxt %}
            <h5>Searching by <b>{{stxt}}</b></h5>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Second Name</th>
                    <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in object_list %}
                        <tr>
                        <th scope="col">{{ c.name }}</th>
                        <th scope="col">{{ c.lastname }}</th>
                        <th scope="col">{{ c.email }}</th>
                        <th scope="col" width="20">
                            <form action="{{ c.id }}/update/">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                            </form>
                        </th>
                        <th scope="col" width="20">
                            <form action="{{ c.id }}/delete/">
                                <button type="submit" class="btn btn-outline-warning btn-sm">Delete</button>
                            </form>
                        </th>
                        <th scope="col" width="20">
                            <form  action="{{ c.id }}/">
                                <button type="submit" class="btn btn-outline-info btn-sm">Details</button>
                            </form>
                        </th>
                        </tr>
                    {% empty %}
                        <th scope="col"> no data </th>
                    {% endfor %}
                </tbody>
            </table>
            {% if stxt %}
                <form method="POST" action="reset/">
                    {% csrf_token %}
                    <input type="hidden" value="yes" name="clearsearch">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Clear search</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <a href="/">back
        </a>
    </div>
</div>

{% endblock content %}
