{% extends 'app_main/index.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container" style="margin: top 2em;">
    <div class="container">
        <h3>Editing of {{object.name}} {{object.lastname}}</h3>
    </div>
    <br>
    <form method="POST">
        {% csrf_token %}
    <div class="container">
        <h4>Username:</h4>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="username" value="{{object.username}}">
        </div>
        <br>
        <h4>Name:</h4>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="name" value="{{object.name}}">
        </div>
        <br>
        <h4>Last name:</h4>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="lastname" value="{{object.lastname}}">
        </div>
        <br>
        <h4>E-mail:</h4>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email" value="{{email}}">
        </div>
        <br>
        <h4>Role:</h4>
        <div class="input-group input-group-lg">
            <select class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="role">
                <option selected value="{{ object.role }}">{{ object.role }}</option>
                {% for r in roles %}
                {% if object.role != r %}
                <option value="{{r}}">{{r}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg" value="confirm">Confirm</button>
    <br>
    </div>
    </form>
    <div class="mb-3">
        <a href="../">back
        </a>
    </div>
</div>

{% endblock content %}