{% extends 'app_main/index.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container">
    <h3>{{classroom.name}}</h3>
    {% if user_role == 'director' %}
    <a class="btn btn-outline primary btn-sm" style="border: 1px solid blue; color: blue;" href="editclassroom/">Edit classroom</a>
    <a class="btn btn-outline danger btn-sm" style="border: 1px solid red; color: red;" href="deleteclassroom/">Delete classroom</a>
    {% endif %}
</div>
<div class="container" style="margin: top 2em; ">
    {% if user_role == 'teacher' or user_role == 'director' %}
    <form action="editlesson/" method="POST">
    <div class="container table-responsive" style="padding: 0;" role="region">
        <table class="table table-sm table-bordered table-striped marks-table" style="width: fit-content; text-align: left; table-layout: fixed; margin: 0;">
            <thead>
                <tr style="vertical-align: middle;">
                    <th scope="col" style="position: -webkit-sticky; position: sticky; width: 140px; z-index: 2; left: 0; background-color: rgba(255, 255, 255, 100);">Students</th>
                    {% for lesson in lessons %}
                    <th scope="col" rowspan="2" style="width: 112px; z-index: 2;">
                                {% if user_role == 'director' %}
                                <input type="date" class="form-control form-control-sm date" name="{{lesson.title}}_date" value="{{lesson.dateform}}" style="background-color: inherit; font-weight: 600;">
                                <input type="text" class="form-control form-control-sm" name="{{lesson.title}}_title" value="{{lesson.title}}" style="background-color: inherit; font-weight: 600;">
                                <button type="submit" class="btn btn-outline-danger btn-sm" name="deletelesson" value="{{lesson.id}}" style="font-weight: 600;">Delete lesson</button>
                                {% else %}
                                <input type="text" class="form-control form-control-sm" name="{{lesson.title}}_date" value="{{lesson.date}}" disabled style="width: 100px; font-weight: 600;">
                                <input type="text" class="form-control form-control-sm" name="{{lesson.title}}_title" value="{{lesson.title}}" disabled style="font-weight: 600;">
                                {% endif %}
                    </th>
                    {% endfor %}
                    {% csrf_token %}
                    {% if user_role == 'director' or classroom.teacher_id == user.id %}
                    <th scope="col" style="width: 122px; z-index: 1;">
                        <input type="date" class="form-control form-control-sm date" name="newlesson_date" value="{{today}}" style="background-color: inherit; font-weight: 600;">
                        <input type="text" class="form-control form-control-sm" name="newlesson_title" value="{{newles_title}}" style="background-color: inherit; font-weight: 600;">
                        <button type="submit" class="btn btn-outline-primary btn-sm" name="newlesson" value="True" style="font-weight: 600;">Commit lesson</button>
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th style="position: -webkit-sticky; position: sticky; width: 100px; z-index: 2; left: 0; background-color: rgba(242,242,242,100);">
                        {{student.name}}
                    </th>
                    {% for lesson in classroom.lessons %}
                    <input type="hidden" id="{{student.name}}" value="{{student}}">
                    <td style="z-index: 0;">
                        {% if user_role == 'director' %}
                        <select class="form-control form-control-sm select" name="{{student.identifier}}_lesson{{lesson.id}}" style="background-color: inherit; color: inherit; font-weight:bolder; text-align: center; font-size: large;">
                            <option selected id="{{student.identifier}}_lesson{{lesson.id}}"></option>
                            <option></option>
                            {% for mark in marks %}
                            <option style="color: black; text-align: left; font-weight:normal;">
                                {{mark}}
                            </option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <select class="form-control form-control-sm select" name="{{student.identifier}}_lesson{{lesson.id}}" disabled style="background-color: inherit; color: inherit; font-weight:bolder; text-align: center; font-size: large;">
                            <option selected id="{{student.identifier}}_lesson{{lesson.id}}"></option>
                        </select>
                        {% endif %}
                    </td>
                    <script>
                        stname = "{{student.name}}";
                        stid = "{{student.identifier}}";
                        stud = document.getElementById(stname).value;
                        stud = stud.replace(/'/g, '"');
                        lesid = "{{lesson.id}}";
                        st = JSON.parse(stud);
                        mark = st[lesid];
                        if (mark === "null"){
                            mark = null;
                        }
                        idd = String(stid + "_lesson" + lesid)
                        el = document.getElementById(idd);
                        el.innerHTML = mark;
                    </script>
                    {% endfor %}
                    {% if user_role == 'director' or classroom.teacher_id == user.id %}
                    <td colspan="2">
                        <select class="form-control form-control-sm" name="{{student.identifier}}_newlesson" style="background-color:rgb(230, 230, 230); color: inherit; font-weight:bolder; text-align: center; font-size: large;">
                            <option selected></option>
                            {% for mark in marks %}
                            <option style="background-color: white;">
                                {{mark}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    {% if user_role == 'director' %}
        <div class="container">
            <button type="submit" class="btn btn-outline-primary btn-sm" name="commitchanges" value="True">Commit changes</button>
        </div>
        <br>
        {% endif %}
    </form>
    {% elif user_role == 'student' %}
    <h4>{{current_student.name}}</h4>
    <div class="container" style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
        {% for lesson in lessons %}
        <input type="hidden" id="{{current_student.name}}" value="{{current_student}}">
        <div class="container border border-primary border-2 rounded-3" style="height: 100px; width: 120px; margin: 10px; padding-left: 0;">
            <h6 class="text-muted" style="margin: 0;">{{lesson.date}}</h6>
            <h6 style="margin: 0;">{{lesson.title}}</h6>
            <div class="container" style="width: 100%; display:flex; justify-content: flex-end;" id="{{current_student.identifier}}_lesson{{lesson.id}}">
            </div>
        </div>
        <script>
            stname = "{{current_student.name}}";
            stid = "{{current_student.identifier}}";
            stud = document.getElementById(stname).value;
            stud = stud.replace(/'/g, '"');
            lesid = "{{lesson.id}}";
            st = JSON.parse(stud);
            mark = st[lesid];
            if (mark == "null"){
                mark = null;
            }
            idd = String(stid + "_lesson" + lesid)
            el = document.getElementById(idd);
            if (mark){
                el.innerHTML = '<button class="btn btn-outline-primary btn-lg" disabled style="font-weight: 600; border-width: 2px; font-size: x-large;">' + mark + '</button>';
            }
        </script>
        {% endfor %}
    </div>
    {% endif %}
    <div class="mb-3">
        <a href="../">back
        </a>
    </div>
</div>

{% endblock content %}
