{% extends 'app_main/index.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container" style="margin: top 2em;">
    <div class="container">
        class: {{classroom}}<br>
        teacher: {{classroom.teacher}}<br>
        students: {{students}}<br>
        lessons: {{classroom.lessons}}<br>
        today: {{today}}<br>
    </div>
    <div class="container">
        <table class="table table-sm table-bordered" style="width: fit-content; text-align: left;">
            <thead>
                <tr style="vertical-align: middle;">
                    <th scope="col">Students</th>
                    {% for lesson in lessons %}
                    <th scope="col">{{lesson.date}}<hr style="margin: 0;">{{lesson.title}}</th>
                    {% endfor %}
                    <form action="addlesson/" method="POST">
                    {% csrf_token %}
                    <th scope="col">
                        <input type="date" name="newlesson_date" value="{{today}}">
                        <hr style="margin: 0;">
                        <input type="text" name="newlesson_title" value="{{newles_title}}">
                    </th>
                    <th>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Commit lesson</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>
                        {{student.name}}
                    </td>
                    {% for lesson in classroom.lessons %}
                    <input type="hidden" id="{{student.name}}" value="{{student}}">
                    <td>
                        <p id="{{student.identifier}}_{{lesson.title}}"></p>
                    </td>
                    <script>
                        stname = "{{student.name}}";
                        stid = "{{student.identifier}}";
                        stud = document.getElementById(stname).value;
                        stud = stud.replace(/'/g, '"');
                        lesname = "{{lesson.title}}";
                        st = JSON.parse(stud);
                        mark = st[lesname];
                        if (mark === "null"){
                            mark = null;
                        }
                        idd = String(stid + "_" + lesname)
                        doc = document.getElementById(idd);
                        doc.innerHTML = mark;
                    </script>
                    {% endfor %}
                    <td colspan="2">
                        <select name="{{student.identifier}}_newlesson">
                            <option selected disabled></option>
                            {% for mark in marks %}
                            <option>
                                {{mark}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
    </div>
    <div class="mb-3">
        <a href="../">back
        </a>
    </div>
</div>

{% endblock content %}
